*:focus{
  outline: none;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
}
.header-wrapper ul{
  display: flex;
}
.header-wrapper ul li{
  list-style-type:none;
  padding: 5px;
}
.header-wrapper ul li a{
  text-decoration: none;
}
.header-wrapper ul li button{
background-color: transparent;
border: none;
color: blueviolet;
font-size: 18px;
}
.footer-wrapper{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 10px;
}
.error-message{
  color: red;

}


.button-wrapper{
  margin: 10px;
}
.input-field{
  width: 200px;
  height: 30px;
}
.button{
  width: 200px;
  height: 30px;
}
.container{
  text-align: center;
}
.button-link{
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: skyblue;
  margin: 20px;
}
table,tr,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
.main-page-banner,.resturant-page-banner{
  background-image: url("https://s.tmimgcdn.com/scr/1200x627/289900/food-and-restaurant-facebook-cover-banner-design-36_289925-original.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  color: #fff;
  text-align: center;
  padding: 30px;
  height: 230px;
}
.resturant-page-banner h1{
  font-size: 6rem;
}
.main-page-banner .input_wrapper{
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto;
  width: 60%;
}
.main-page-banner .select-input{
  height: 40px;
  border: none;
  width: 25%;
}
.main-page-banner .search-input{
  height: 40px;
  border: none;
  width: 45%;
  border-left: 1px solid #ccc;
  padding-left: 15px;
}
.location-list{
  color: #000;
  list-style: none;
  text-align: left;
  position: absolute;
  background-color: #fff;
  padding: 0;
  margin: 0;
  margin-left: -5px;
  border: 1ps solid #ccc;
  /* min-width: 100%; */
}
.location-list li{
  width: 340px;
  padding: 5px;
  border: 1ps solid #ccc;
  cursor: pointer;
}
.main-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 50px;
  
}
.resturant-wrapper{
  width: 45%;
  background-color: aqua;
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
}
.resturant-wrapper .resturant-image-wrapper,.resturant-wrapper .resturant-info-wrapper{
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
}
.detail-wrapper{
  display: flex;
  background-color: orange;
  
}
.detail-wrapper h3{
  width: 50%;
}
.food-item-wrapper{
  margin-top: 50px;
  margin-bottom: 50px;
}
.food-item-wrapper .list-item{
  padding: 20px;
  color: orange;
  font-weight: bold;
  border-bottom: 1px solid orange;
  display: flex;
  text-transform: capitalize;
}
.food-item-wrapper .list-item button{
  color: #fff;
  border: noen;
  background-color: orange;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.food-item-wrapper .list-item img{
  width: 100px;
  height: 100px;
  padding-right: 20px;
}
.food-item-wrapper .list-item description{
  font-weight: lighter;
}
.list-item-block-1{
  width: 20%;
}
.list-item-block-2{
  width: 80%;
}
.list-item-block-1{
  width: 20%;
}
.total-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid orange;
  padding-bottom: 20px;
}
.total-wrapper .row{
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  color: orange;
  font-size: 20px;
}
.total-wrapper .block-1{
  width: 70%;

}
.total-wrapper .block-2{
  width: 30%;
}
.total-wrapper .block-2 button{
  padding: 10px 25px;
  border: navajowhite;
  background-color: orange;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
